fastapi
uvicorn[standard]
motor
pydantic
pydantic-settings
email-validator
passlib[bcrypt]
argon2-cffi
python-jose[cryptography]
python-dotenv
pymongo
stripe
cryptography
python-multipart
httpx
pytest-asyncio